body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: rgb(214, 238, 255);
}

main {
    max-width: 320px;
    margin: 0 auto;
    padding: 1.25rem;
    text-align: center;
    background: #fff;
}

h1 { 
    font-size: 150%;  
    margin: 0 auto;
}

h2 { 
    font-size: 115%;
}

h3 { 
    font-size: 135%; 
    color: rgb(255, 128, 0);
    padding: 0.15rem 0;
    margin: 0;
}

p { 
    font-size: 75%; 
    text-align: justify;
    line-height: 1.1rem;
} 

.date {
    font-size: 85% !important; 
    font-style: italic;
}

a{ 
    font-size: 90%; 
    color: rgb(115, 155, 255);
}

a:hover{ 
    color: rgb(74, 124, 250);
}

p > a { 
    font-size: 100% !important; 
    text-align: justify;
}

a.edit {
    color: rgb(255, 30, 18);
}

a.edit:hover {
    color: rgb(255, 78, 69);
}

img.top {
    height: 150px;
    width: 150px;
    padding: 0.5rem 0 1rem;
}